/* global */
@import "global.css";

/* single-style */
@import "./single-style.css";

/* button */
@import "./buttons.css";

/* info */
@import "./info.css";

/* authentication */
@import "./authentication/auth.css";

/* HomePage */
@import "./home/home.css";

/* plans */
@import "./plans/plan-edit.css";
@import "./plans/plan-list.css";
@import "./plans/plan-specific-items.css";
@import "./plans/plan.css";

/* photo-edit */
@import "./photo-edit/phtoto-edit-container.css";
@import "./photo-edit/photo-edit-siderbar-item.css";
@import "./photo-edit/photo-edit-slider.css";

/* chat-room */
@import "./chat-room/chat-room.css";
@import "./chat-room/chat-conversations.css";
@import "./chat-room/chat-contact-item.css";
@import "./chat-room/chat-conversation-item.css";

/* 404 Not Found */
@import "./404-not-found/not-found.css";

*,
*::before,
*::after {
  /* 这样全局都是 DongXue 字体 */
  font-family: "DongXue";
  /* 来一个怪异盒模型 */
  box-sizing: border-box;
}

:root {
  /* 把字体调整得大一点 */
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
}
