.btn {
  border: none;
  font-size: inherit;
  border-radius: 10px;
  padding: 5px 20px;
  cursor: pointer;
}

.btn--primary {
  color: white;
  background-color: hsl(200, 100%, 50%);
}

.btn--primary:hover {
  background-color: hsl(210, 1%, 40%);
}

.btn--danger {
  color: white;
  background-color: hsl(0, 100%, 50%);
}

.btn--danger:hover {
  background-color: hsl(0, 100%, 35%);
}

.btn--add {
  color: white;
  background-color: hsl(110, 100%, 35%);
}

.btn--add:hover {
  background-color: hsl(110, 100%, 40%);
}

.btn--hollow {
  border: 1px solid black;
  background-color: transparent;
}

.btn--hollow:active {
  transform: scale(0.8);
}

.btn--file-add {
  border: 1px solid hsl(110, 100%, 32%);
  border-radius: 6px;
  padding: 1px 10px;
  font-size: 30px;
  background-color: transparent;
  color: hsl(110, 100%, 38%);
  transition: all 0.4s ease-in-out;
}

.btn--file-add:active,
.btn--file-add:hover {
  transform: scale(0.98);
  background-color: hsl(110, 100%, 38%);
  color: white;
}

.btn--file {
  border: 1px solid black;
  border-radius: 6px;
  max-width: 250px;
  /* 超出的文本隐藏 */
  overflow: hidden;
  /* 溢出用省略号显示 */
  text-overflow: ellipsis;
  /* 溢出不换行 */
  white-space: nowrap;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}

.btn--file:active,
.btn--file:hover {
  transform: scale(0.95);
  background: hsl(0, 0%, 20%);
  color: white;
}

.btn--remove {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  color: black;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
}

.btn--remove:active {
  transform: scale(0.8);
}

.btn--remove-red {
  padding: 0 15px;
  margin-left: 4px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  border-radius: 10px;
  background-color: hsl(0, 100%, 50%);
}

.btn--remove-red:hover {
  background-color: hsl(0, 100%, 35%);
}
