.chat-message__container {
  display: flex;
  min-height: 34em;
  min-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.chat-message__show {
  /* height: inherit; */
  width: 98%;
  flex-grow: 1;
  overflow: auto;
  max-height: 26em;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.chat-message__form {
  display: flex;
  justify-content: center;
  align-self: center;
}

.chat-message__text-area {
  min-width: 10em !important;
  width: 26em !important;
  border-radius: 10px !important;
  margin-right: auto;
}
